
.MuiCardHeader-title{
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #000 !important;
}


@media screen and (min-width: 800px){
    .MuiCardHeader-title{
        font-size: 2.5rem !important;
    }
    
}

@media screen and (min-width: 600px){
    .MuiCardHeader-title{
        font-size: 1.5rem !important;
    }
}